*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
    font-family: sans-serif;
}

body{
    display: grid;
    grid-template: 100% / 20% 70%;
}

.sidebar{
    background-color: rgb(1, 143, 199);
    
}