*{
    margin: 0px !important;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;

}


html{
    height: 100%;
}

body{
    display: grid;
    grid-template: 1fr / 20% 80%;
    height: 100%;
}

.sidebar{
    background-color: rgb(1, 143, 199);
    color: white;
    padding-top: 30px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.icons{
    display: flex; 
    align-items: center;
    gap: 10px;
    
}

.sidebar h1,h3{
    font-weight: 500;
}

.sidebar a{
    text-decoration: none;
    color: white;
}

.sidebar a:hover{
    color: aquamarine;
}

.sidebar .seperate{
    margin-top: 50px !important;
}