*{
    margin: 0px !important;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;

}


html{
    height: 100%;
}

body{
    display: grid;
    grid-template: 1fr / 18% 82%;
    height: 100%;
}

.sidebar{
    background-color: rgb(1, 143, 199);
    color: white;
    padding-top: 30px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.icons{
    display: flex; 
    align-items: center;
    gap: 10px;
    
}

.sidebar h1,h3{
    font-weight: 500;
}

.sidebar a{
    text-decoration: none;
    color: white;
}

.sidebar a:hover{
    color: aquamarine;
}

.sidebar .seperate{
    margin-top: 50px !important;
}

/* right section */

.main{
    display: grid;
    grid-template: 200px 1fr / 1fr;
    width: 100%;
}

.header{
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    
    
}

main{
    background-color: #E2E8F0;
    padding: 1.5rem 2rem;
    
    
}

.top{
    display: flex;
    justify-content: space-between;
}

.search{
    display: flex; 
    align-items: center;
    gap: 202px;
}

.search button{
    border: none;
    
    background-color: transparent;

}

.search input{
    border: none;
    background-color: #E2E8F0;
    border-radius: 1em;
    padding: 0.4rem 1rem;
    margin-left: 20em;
    width: 40em;
    height: 2.2em;
}


.admin{
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.admin::before{
    content:  url(/icons/bell-outline.svg);
    margin-right: 20px;
}

.admin:hover::before{
    content: url(/icons/bell.svg);
    margin-right: 20px;

}

.bottom{
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-logo{
    display: flex;
    align-items: center;
}

.admin-logo div{
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.acction button{
    border: none;
    background-color: rgb(1, 143, 199);
    color: white;
    border-radius: 1.5em;
    padding: 0.6rem 1.75rem;
    font-weight: bold;
    margin-right: 10px !important;
    cursor: pointer;
}

.acction button:hover{
    background-color: white;
    color: rgb(1, 143, 199);
    border:1px solid rgb(1, 143, 199);
}


/* project and announce sections */

main{
    display: grid;
    grid-template: 100% / 75% 25%;
    column-gap: 25px;
}

main .projects{
    background-color: inherit;
    display: grid;
    grid-template: 250px / 1fr 1fr;
    grid-auto-rows: 250px;
    column-gap: 25px;
    row-gap: 25px;
}

.announce, .trending{
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main .projects .project-items{
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 0.5rem solid #F0B429;
    min-height: 250px;
}

.project-explain{
    color: #666;
    font-size: 0.9rem;
}

.icon-group{
    direction: rtl;
    display: flex;
    gap: 15px;
}

.small{
    color: #666;
    font-size: 0.7rem;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
}


